@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */
/* common start  */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
/* common end  */

/* header start  */
header{
    background-image: url(../image/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.delivery{
    margin-bottom: -10px;
    font-size: 16px;
    font-weight: bold;
}
/* nav start  */
.menu li a{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    margin: 0 40px;
}
/* .menu li:last-child a{
    margin-right: 0;
} */
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 9px 2px;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/* nav end  */
/* header end  */
/* cover start  */
#cover{
    background-image: url(../image/bg-cover.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.cover-burger{
    margin-top: -100px;
    
}
.c-desc{
    margin-top: 100px;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    color: #3d2514;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px dashed black;
}
.c-title{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 80px;
    text-shadow: 4px 4px white;
    text-transform: uppercase;
}
.c-s-title{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-size: 60px;
    text-shadow: 4px 4px white;
    text-transform: uppercase;
}
/* cover end  */
/* banner section start  */
.banner1{
    background-image: url(../image/banner1.jpg);
    background-size: cover;
    border-radius: 10px;
    min-height: 380px;

}
.banner2{
    background-image: url(../image/banner2.jpg);
    background-size: cover;
    border-radius: 10px;
    min-height: 180px;
}
.banner3{
    background-image: url(../image/banner3.jpg);
    background-size: cover;
    border-radius: 10px;
    min-height: 180px;
}

.banner-title{
    padding: 20px;
}
.banner-title h3, .banner-title h1{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    color: whitesmoke;
}
/* banner section end  */

/* choose section start  */
.choose .tasty{
    background-color: #ffc045;
    color: #3d2514;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.choose-title{
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    color: #3d2514;
    padding: 20px 0;
}
.choose-desc{
    color: black;
}

.product img{
    height: 250px;
    width: 100%;
}
.product-m img{
    margin-top: -30px;
    height: 280px;
}
.card-title{
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.card-body .btn{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
}
/* choose section end  */

/* slider start  */
.carousel-indicators {
    justify-content: left !important;
    bottom: -40px !important;
    margin-left: 1% !important;
}
.carousel-indicators [data-bs-target]{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    background-color: chocolate !important;
    /* margin-left: -70%;
    margin-right: 65%; */
}
.blog-slider{
    box-shadow: 4px 3px 8px #6f6d6d;
}
/* slider end  */

/* contact section start */
.contact-subtitle{
    margin-top: 80px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #3d2514;
    padding: 0;

}
.contact-title{
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    color: #3d2514;
    padding: 20px 0;
}
.find-table{
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
}
.contact-form div input{
    height: 60px;
}
section .contact-burger{
    position: absolute;
    margin-top: 50px;
    left: 0;
}
section .contact-botol{
    position: absolute;
    margin-top: 300px;
    left: 50px;
}
section .contact-plate{
    position: absolute;
    margin-top: 20%;
    right: 0;
}
/* contact section end */
.footer{
    margin-top: 200px;
    background-image: url(../image/footer-img.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-right{
    margin-top: 20%;
}
.footer-right .row> div i{
    font-size: 30px;
}
.footer-right .row> div p{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.footer-right .social{
    position: absolute;
    margin-top: 120px;
    right: 10%;
}
.social div{
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
    padding: 2px;
}
.social a{
    color: black;
}
.copyright{
    font-family: 'Bebas Neue', cursive;
}